<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/gatcha.css" />
    <title>Document</title>
  </head>
  <body>
    <img src="img/outside.png" />

    <form>
      <div class="menu">
        <ul>
          <li>
            <button><a href="/roll">Roll</a></button>
          </li>
          <li>
            <button><a href="/gems">My Gems</a></button>
          </li>
          <li>
            <button><a href="/gemmine:&<%= userId %>">Gem Miner</a></button>
          </li>
          <li>
            <button><a href="/">Home</a></button>
          </li>
        </ul>
      </div>
    </form>
  </body>
</html>
