<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/inventory.css" />
    <title>Document</title>
  </head>
  <body>
    <img class="background" src="img/gemroll.jpeg" />
    <img />

    <a href="javascript:history.go(-1)" class="back-button">
      <p class="back">⇦ BACK</p></a
    >
    <div class="menu">
      <p class="rules">These are the amount of gems you have</p>

      <img class="gem" src="img/gemstone.webp" />
      <p class="amount"><%= gems %></p>
    </div>
  </body>
</html>
