<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <img src="img/wp.webp" />

    <form action="/" method="POST">
      <label for="username">Enter your username </label>
      <input name="username" type="text" />
      <label for="password">Enter your password </label>
      <input type="password" name="password" type="text" />
      <p class="invalid-pass"><%= error %></p>
      <input id="submit" type="submit" value="submit" />
      <a href="/createaccount"> Create Account </a>
    </form>

    <script>
      const message = "<%= message %>";
      const id = "<%=userId%>";
      console.log(id);
      console.log("hello");
      if (message === "valid") {
        window.location.href = `/gatcha:&${id}`;
      } else {
        console.log("something went wrong");
      }
    </script>
  </body>
</html>
