<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <img src="img/outside.png" />

    <form action="/" method="POST">
      <label for="username">Enter your username </label>
      <input name="username" type="text" />
      <label for="password">Enter your password </label>
      <input type="password" name="password" type="text" />
      <p class="invalid-pass"><%= error %></p>
      <input class="<%= message %>" id="submit" type="submit" value="submit" />
      <a href="/createaccount"> Create Account</a>
    </form>

    <script>
      const submit = document.querySelector("#submit");
      console.log(submit);
      if (submit.classList.contains("gatcha")) {
        console.log("element has the gatcha class");
        window.location.href = "/gatcha";
      } else {
        console.log("something went wrong");
      }
    </script>
  </body>
</html>
