<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/roll.css" />
    <title>Document</title>
  </head>
  <body>
    <img class="background" src="img/roll3.jpeg" />
    <a href="javascript:history.go(-1)" class="back-button">
      <p class="back">⇦ BACK</p></a
    >

    <div class="menu">
      <p class="rules">Click Here for chance to get pokemon</p>
      <form action="/roll:num" method="POST">
        <input class="gemLoss" type="hidden" name="gems" />
        <button type="submit" class="getPokemon">5 Gems</button>
      </form>

      <img class="pokeimg" />
      <p class="amount"><%= gems %></p>
      <form action="/roll:num" method="POST">
        <input class="store" type="hidden" name="pokemon" />
        <button type="submit" class="getPokemon">5 Gems</button>
      </form>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script>
    let numGems = "<%= gems %>";

    const image = document.querySelector(".pokeimg");
    let sprite;
    let shiny;
    const pokeName = document.querySelector(".pokeName");
    const button = document.querySelector(".getPokemon");
    const amount = document.querySelector(".amount");
    const gemLoss = document.querySelector(".gemLoss");
    const out = document.querySelector(".out");
    const store = document.querySelector(".store");

    gemLoss.setAttribute("value", `${numGems}`);

    button.addEventListener("click", async () => {
      if (numGems >= 5) {
        let pokemon = await getPokemon();
        if (chanceShiny() === true) {
          setTimeout(() => {
            image.setAttribute("src", `${shiny}`);
          }, 500);
        } else {
          setTimeout(() => {
            image.setAttribute("src", `${sprite}`);
          }, 500);
        }

        numGems--;
        amount.innerHTML = `${numGems}`;

        gemLoss.setAttribute("value", `${numGems}`);
        console.log("this is pokemon name " + pokemon);
        store.setAttribute("value", `${pokemon}`);
      } else {
        numGems = numGems;
        amount.textContent = "Out of Gems";
        console.log("in out");
        button.disabled = true;
      }
    });
    const randomPoke = () => {
      let random = Math.floor(Math.random() * 906);
      return random;
    };
    const chanceShiny = () => {
      let random = Math.floor(Math.random() * 500);
      if (random === 1) {
        console.log("SHINY");
        return true;
      } else {
        return false;
      }
    };
    const getPokemon = async () => {
      try {
        let id = randomPoke();
        const fetch = await axios.get(
          `https://pokeapi.co/api/v2/pokemon/${id}`
        );
        const pokemon = fetch.data.forms[0].name;
        console.log(pokemon);
        // prettier-ignore
        sprite = fetch.data.sprites.front_default
        shiny = fetch.data.sprites.front_shiny;

        return pokemon;
      } catch (err) {
        console.log(err);
      }
    };
  </script>
</html>
