<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/roll.css" />
    <title>Document</title>
  </head>
  <body>
    <img class="background" src="img/roll3.jpeg" />
    <a href="/gatcha:&<%= userId %>" class="back-button">
      <p class="back">⇦ BACK</p></a
    >

    <div class="menu">
      <p class="rules">Click Here for chance to get pokemon</p>

      <div>
        <button class="getPokemon">5 Gems</button>
      </div>

      <img class="pokeimg" />
      <p class="amount"><%= gems %></p>

      <form action="/roll:num" method="POST">
        <input class="addPokemon" type="hidden" name="pokemon" />
        <input class="gemLoss" type="hidden" name="gems" />
        <button type="submit" class="send">Send to PC</button>
      </form>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script>
    let numGems = "<%= gems %>";

    const background = document.querySelector(".back-button");
    let clicked = false;
    background.addEventListener("click", () => {
      console.log("clicked");
      //clicked = true;
      numGems--;
    });

    const image = document.querySelector(".pokeimg");
    let sprite;
    let shiny;
    const pokeName = document.querySelector(".pokeName");
    const button = document.querySelector(".getPokemon");
    const amount = document.querySelector(".amount");
    const gemLoss = document.querySelector(".gemLoss");
    const out = document.querySelector(".out");
    const store = document.querySelector(".store");
    const addPokemon = document.querySelector(".addPokemon");
    const send = document.querySelector(".send");

    gemLoss.setAttribute("value", `${numGems}`);
    button.addEventListener("click", async () => {
      setTimeout(() => {
        send.disabled = false;
      }, 500);

      if (numGems >= 5) {
        setTimeout(() => {
          button.disabled = true;
        }, 500);

        let pokemon = await getPokemon();
        addPokemon.setAttribute("value", `${pokemon}`);
        if (chanceShiny() === true) {
          setTimeout(() => {
            image.setAttribute("src", `${shiny}`);
          }, 500);
        } else {
          setTimeout(() => {
            image.setAttribute("src", `${sprite}`);
          }, 500);
        }

        numGems--;
        amount.innerHTML = `${numGems}`;

        gemLoss.setAttribute("value", `${numGems}`);
        console.log("this is pokemon name " + pokemon);
      } else {
        numGems = numGems;
        amount.textContent = "Out of Gems";
        console.log("in out");
        setTimeout(() => {
          button.disabled = true;
        }, 500);
      }
    });

    send.addEventListener("click", () => {
      console.log("clicked");
      button.disabled = false;
      setTimeout(() => {
        send.disabled = true;
      }, 500);
    });

    const randomPoke = () => {
      let random = Math.floor(Math.random() * 906);
      return random;
    };
    const chanceShiny = () => {
      let random = Math.floor(Math.random() * 500);
      if (random === 1) {
        console.log("SHINY");
        return true;
      } else {
        return false;
      }
    };
    const getPokemon = async () => {
      try {
        let id = randomPoke();
        const fetch = await axios.get(
          `https://pokeapi.co/api/v2/pokemon/${id}`
        );
        const pokemon = fetch.data.forms[0].name;
        console.log(pokemon);
        // prettier-ignore
        sprite = fetch.data.sprites.front_default
        shiny = fetch.data.sprites.front_shiny;

        return sprite;
      } catch (err) {
        console.log(err);
      }
    };
  </script>
</html>
