* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 105vh;
  z-index: -10;
  position: absolute;
}

#start-timer {
  z-index: 0;
  margin: auto;
  height: 50px;
  width: 150px;
  background-color: aliceblue;
  margin-top: 5vh;
}

.menu {
  border-radius: 20px;
  opacity: 0.8;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(118, 198, 235);
  height: 60vh;
  width: 25vw;
  text-align: center;
}

p {
  z-index: 0;
  color: red;
}

#timer {
  font-size: 100px;
  margin-top: 10px;
}

.gems {
  z-index: 0;
}

form {
}

.rules {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(0, 0, 255);
}

.gem {
  width: 100px;
  height: 100px; /* Set a width if needed */
}

.collect {
  margin: 0 auto;
  background-color: #04aa6d; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.back {
  margin-left: 1vw;
  font-size: 30px;
  z-index: 0;
  color: white;
  text-decoration: none;
}

.back-button {
  text-decoration: none;
}
a:active {
  outline: none; /* remove the default outline */
  box-shadow: none; /* remove the default box-shadow */
}

.hidden {
  visibility: hidden;
}
