* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 105vh;
  z-index: -10;
  position: absolute;
}

.menu {
  border-radius: 20px;
  opacity: 0.8;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(118, 198, 235);
  height: 60vh;
  width: 25vw;
  text-align: center;
}

p {
  z-index: 0;
  color: red;
}

.rules {
  margin-top: 5vh;
  font-size: 25px;
  font-weight: 300;
  color: rgb(0, 0, 255);
}

.gem {
  width: 250px;
  height: 250px; /* Set a width if needed */
}

.back {
  margin-left: 1vw;
  font-size: 30px;
  z-index: 0;
  color: white;
  text-decoration: none;
}

.back-button {
  text-decoration: none;
}
a:active {
  outline: none; /* remove the default outline */
  box-shadow: none; /* remove the default box-shadow */
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
}

.amount {
  font-size: 100px;
  font-weight: 300;
  color: rgb(49, 46, 211);
}
