* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

div {
  color: black;
}

img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 105vh;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  display: block;
  font-size: 20px;
}

label {
  font-size: 25px;
}

.invalid-pass {
  color: red;
}

.correct-pass {
  color: green;
}

a {
  text-decoration: none;
}

a:active {
  outline: none; /* remove the default outline */
  box-shadow: none; /* remove the default box-shadow */
}

button {
  padding: 1px;
  height: 25px;
  display: inline-block;
  margin-right: 20px;
  font-style: normal;
  font-size: 15px;
}

#submit {
  margin-top: 10px;
  display: inline-block;
  margin-right: 20px;
}
